body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.background-image {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; /* Coloca la imagen detrás del contenido */
    opacity: 0.9; /* Ajusta la opacidad según sea necesario */
    filter: brightness(1.0);
}

.background-image img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ajusta el tamaño de la imagen para cubrir el contenedor */
}

.image-container {
    text-align: center;
    margin-top: 20px; /* Ajusta el espacio entre las imágenes y el borde superior */
}

.image-container img {
    margin-bottom: 10px; /* Ajusta el espacio entre las imágenes */
}

.content-container {
    text-align: center;
    max-width: 800px;
    margin: 0 auto; /* Centra el contenedor en la página */
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.815); /* Fondo blanco con opacidad */
    border: 3px solid #ccc;
    
}

.content-container h1 {
    color: #333; /* Color del texto principal */
}

.content-container .institution {
    color: #555; /* Color del texto secundario */
}

.content-container hr {
    border: 1px solid #ccc; /* Línea divisoria gris */
    margin: 15px 0;
}

.content-container p {
    margin: 0;
}
